.card {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: @desktop-width) {
    flex-direction: row;
    width: 1440px;
  }

  &--background-violet {
    background-color: @lavender-latte;
  }

  &--background-coffee {
    background-color: @espresso;
  }
}

.card__title {
  margin: 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 10px;

  @media (min-width: @tablet-width) {
    font-size: 56px;
    line-height: 80px;
    margin-bottom: 16px;
  }

  @media (min-width: @desktop-width) {
    text-align: left;
  }
}

.card__description {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 32px;
  }

  @media (min-width: @desktop-width) {
    text-align: left;
    font-size: 20px;
    line-height: 32px;
    padding: 0;
    margin-bottom: 40px;
  }
}

.card__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.card__old-price {
  margin: 0;
  font-size: 16px;
  line-height: 32px;
  color: @base-purple;
  text-decoration-line: line-through;
  margin-right: 6px;
}

.card__new-price {
  margin: 0;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  margin-right: 20px;
}

.card__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: @tablet-width) {
    max-width: 608px;
  }

  @media (min-width: @desktop-width) {
    max-width: 625px;
    margin-left: auto;
    margin-right: 40px;
    align-items: flex-start;
  }
}

.card__image {
  @media (min-width: @tablet-width) {
    width: 476px;
    height: 476px;
    position: absolute;
    top: 290px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }

  @media (min-width: @desktop-width) {
    width: 600px;
    height: 600px;
    margin: 0;
    margin-right: 30px;
    top: 30px;
    left: 60px;
  }
}
