.page-header__box {
  margin: 0 20px;

  @media (min-width: @desktop-width) {
    margin: 0 40px;
  }
}

.page-header__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 280px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    max-width: 728px;
  }

  @media (min-width: @desktop-width) {
    max-width: 1360px;
  }
}

.page-header__logo-link {
  text-decoration: none;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 0;

  @media (min-width: @desktop-width) {
    display: block;
    width: 316px;
    height: 80px;
  }
}

@media (min-width: @desktop-width) {
  .page-header__logo-text {
    font-size: 12px;
    line-height: 16px;
    color: @black;
    min-width: 126px;
    position: relative;
    margin: 0;
    overflow: visible;
    padding: 24px 20px;
    width: auto;
    height: auto;
    box-sizing: border-box;
  }
}

.header-navigation__toggle-box {
  position: relative;
}

.page-header__logo-icon {
  @media (min-width: @tablet-width) {
    width: 82px;
  }

  @media (min-width: @desktop-width) {
    width: 170px;
  }
}
