.page-footer {
  margin: 0 20px;

  @media (min-width: @desktop-width) {
    margin: 0 40px;
  }
}

.page-footer__box {
  padding-top: 22px;
  padding-bottom: 30px;
  max-width: 280px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    max-width: 728px;
  }

  @media (min-width: @desktop-width) {
    max-width: 1360px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.page-footer__container {
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 223px);
    gap: 30px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: repeat(3, 318px);
    margin-bottom: 0;
  }
}

@media (min-width: @desktop-width) {
  .page-footer__wrapper {
    display: grid;
    grid-template-columns: 318px 1fr;
    gap: 30px;
    margin-bottom: 30px;
  }
}

.page-footer__item {
  position: relative;

  @media (max-width: @mobile-width-only) {
    &::after {
      position: absolute;
      content: "";
      width: 1000%;
      height: 1px;
      background-color: @base-secondary;
      left: -20px;
      bottom: -20px;
    }
  }
}


.page-footer__logo-link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: @grey;
  box-sizing: border-box;
}

.page-footer__logo-link-text {
  margin: 0;
  padding: 4px;
  font-size: 12px;
  line-height: 16px;
}
