.page-footer {
  margin: 0 20px;

  @media (min-width: @desktop-width) {
    margin: 0 40px;
  }
}

.page-footer__box {
  padding-top: 22px;
  padding-bottom: 30px;
  max-width: 280px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    max-width: 728px;
    padding-top: 42px;
    padding-bottom: 40px;
  }

  @media (min-width: @desktop-width) {
    max-width: 1360px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.page-footer__container {
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 223px);
    gap: 30px;
    margin-bottom: 30px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: repeat(3, 318px);
    margin-bottom: 0;
  }
}

.page-footer__logo-icon {
  @media (min-width: @tablet-width) {
    width: 170px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 10px;
  }
}

@media (min-width: @desktop-width) {
  .page-footer__wrapper {
    display: grid;
    grid-template-columns: 318px 1fr;
    gap: 30px;
    margin-bottom: 30px;
  }
}

.page-footer__item {
  position: relative;

  @media (max-width: @mobile-width-only) {
    &::after {
      position: absolute;
      content: "";
      width: 1000%;
      height: 1px;
      background-color: @base-secondary;
      left: -767px;
      bottom: -20px;
    }
  }
}


.page-footer__logo-link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: @grey;
  box-sizing: border-box;
  cursor: pointer;

  @media (min-width: @desktop-width) {
    &:not(:last-child) {
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 50px;
    }
  }
}

.page-footer__logo-academy-text {
  margin: 0;
  padding: 4px;
  font-size: 12px;
  line-height: 16px;
  color: @grey;
}

@media (min-width: @desktop-width) {
  .page-footer__logo-text {
    font-size: 14px;
    line-height: 20px;
    color: @black;
    min-width: 126px;
    position: relative;
    margin: 0;
    padding: 0;
    overflow: visible;
    width: auto;
    height: auto;
    box-sizing: border-box;
  }
}

.page-footer__logo-academy {
  fill: @grey;
  margin-left: 4px;
}

.page-footer__logo-link:hover .page-footer__logo-academy-text,
.page-footer__logo-link:focus .page-footer__logo-academy-text {
  color: @base-purple;
}

.page-footer__logo-link:active .page-footer__logo-academy-text {
  color: @primary-darker;
}

.page-footer__logo-link:hover .page-footer__logo-academy,
.page-footer__logo-link:focus .page-footer__logo-academy {
  fill: @base-purple;
}

.page-footer__logo-link:active .page-footer__logo-academy {
  fill: @primary-darker;
}
