.promo {
  position: relative;
  background-color: @flat-white;

  @media (min-width: @tablet-width) {
    background-color: @white;
    height: 828px;
    z-index: 1;

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 640px;
      top: 0;
      z-index: -1;
      background-color: @flat-white;
    }
  }

  @media (min-width: @desktop-width) {
    background-color: @flat-white;
    height: 714px;

    &::before {
      display: none;
    }
  }
}

.promo__box {
  margin: 0 20px;

  @media (min-width: @desktop-width) {
    margin: 0 40px;
  }
}

.promo__slider {
  max-width: 280px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 60px;

  @media (min-width: @tablet-width) {
    max-width: 728px;
    padding-top: 60px;
    padding-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    max-width: 100%;
    padding-top: 0;
  }
}

.promo__slider-button {
  position: absolute;
  border: none;
  width: 20px;
  height: 656px;
  padding: 0;
  top: 0;
  background-color: transparent;
  cursor: pointer;
  z-index: 2;

  &:hover,
  &:focus {
    background-image: linear-gradient(90deg, @white 0%, rgba(255, 255, 255, 0) 100%);
  }

  &:active {
    background-image: linear-gradient(90deg, @primary-opacity 0%, @base-opacity 100%);
  }

  @media (min-width: @tablet-width) {
    width: 80px;
    height: 640px;
  }

  @media (min-width: @desktop-width) {
    height: 714px;
  }

  &--prev {
    left: -40px;
  }

  &--next {
    right: -40px;

    &:hover,
    &:focus {
      background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, @white 100%);
    }

    &:active {
      background-image: linear-gradient(90deg, @base-opacity 0%, @primary-opacity 100%);
    }
  }
}

.promo__slider-icon {
  position: absolute;
  top: 45%;
  display: block;
  margin: auto;
  fill: @base-purple;
  right: 35px;

  &--prev {
    transform: rotate(180deg);
    left: 35px;
  }
}

.promo__slider-button:disabled .promo__slider-icon {
  fill: @grey;
}

.promo__slider-pagination {
  display: none;
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: absolute;
  bottom: 70px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: @desktop-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.swiper-pagination-bullet {
  width: 62px;
  height: 4px;
  padding: 0;
  background-color: @white;
  border: none;
  cursor: pointer;
  margin: 0 8px;

  &:hover,
  &:focus {
    background-color: @primary-opacity;
  }

  &:active {
    background-color: @base-purple;
  }

  &-active {
    background-color: @base-purple;
  }
}
